@using Project_Sigma
@model dynamic

<a asp-action="Adding" class="btn btn-primary">Добавить ингредиенты</a>
<style>
    .grid-parent {
        display: grid;
        grid-template-columns: 1fr 1fr
    }

    .child {
        padding: 1rem;
    }

    .ib {
        display: inline-block;
    }

    .borders {
        border: 1px solid hidden;
        padding: 53px;
        border-radius: 8px;
    }
</style>

<h2>Наличие ингредиентов в пиццах</h2>


@foreach (PizzaContainIngr pizza in Model.All)
{
    <div class="ib borders">
        <div class="card m-3 " style="min-width : 18rem; max-width : 30.5%">
            <div class="card-header text-center">Название пиццы</div>
            <div class="card-body text-center">
                @pizza.IdPizzaNavigation.Name
            </div>
        </div>
        <div class="card m-3" style="min-width : 18rem; max-width : 30.5%">
            <div class="card-header text-center">Название ингредиента</div>
                <div class="card-body text-center">
                    @pizza.IdIngredientNavigation.Name
                </div>
            </div>
        <div class="card m-3" style="min-width : 18rem; max-width : 30.5%">
            <div class="card-header text-center">Вес</div>
            <div class="card-body text-center">
                @pizza.Weight
            </div>
        </div>
        <div class="text-center">
            <a asp-action="EditIngr"
               asp-controller="Add"
               asp-route-id="@pizza.IdPizza"
               asp-route-id1="@pizza.IdIngredient"
               class="btn btn-primary m-1">Изменить</a>
            <a asp-action="DeleteIngr"
               asp-controller="Add"
               asp-route-id="@pizza.IdPizza"
               asp-route-id1="@pizza.IdIngredient"
               class="btn btn-primary m-1">Удалить</a>
        </div>
        </div>
        }




